<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-vivlong-aliyunpush" version="1.1.17"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>Aliyun Push</name>
    <description>Cordova Push Plugin,use Aliyun SDK</description>
    <license>Apache 2.0</license>
    <keywords>cordova,aliyun,push,aliyunpush,huawei,xiaomi,oppo,vivo,meizu</keywords>

    <preference name="CHANNELID" default="901209181657"/>
    <preference name="ALIAPPKEY" default=" "/>
    <preference name="ALIAPPSECRET" default=" "/>
    <preference name="HMSAPPID" default=" "/>
    <preference name="XIAOMIAPPID" default=" "/>
    <preference name="XIAOMIAPPKEY" default=" "/>
    <preference name="OPPOAPPKEY" default=" "/>
    <preference name="OPPOSECRET" default=" "/>
    <preference name="VIVOAPPID" default=" "/>
    <preference name="VIVOAPPKEY" default=" "/>
    <preference name="MEIZUAPPID" default=" "/>
    <preference name="MEIZUAPPKEY" default=" "/>

    <engines>
        <engine name="cordova-android" version=">=5.0.0" />
    </engines>

    <js-module src="www/AliyunPush.js" name="AliyunPush">
        <clobbers target="AliyunPush" />
    </js-module>

    <platform name="android">

        <hook type="after_plugin_install" src="scripts/after_plugin_install.js"/>
        <hook type="before_plugin_rm" src="scripts/before_plugin_rm.js"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AliyunPush">
                <param name="android-package" value="com.alipush.AliyunPush" />
            </feature>
            <preference name="HMSAPPID" value="$HMSAPPID"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application" mode="merge">
            <activity android:name="com.alipush.PopupPushActivity" android:exported="true"/>

            <!-- 消息接收监听器，为保证receiver安全，建议设置不可导出，如需对其他应用开放可通过android：permission进行限制 -->
            <receiver android:name="com.alipush.PushMessageReceiver" android:exported="false">
                <intent-filter>
                    <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
                </intent-filter>
                <intent-filter>
                    <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
                </intent-filter>
                <intent-filter>
                    <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
                </intent-filter>
            </receiver>
            <service android:name="com.alipush.PushMessageIntentService" android:exported="false">
                <intent-filter>
                    <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
                </intent-filter>
                <intent-filter>
                    <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
                </intent-filter>
                <intent-filter>
                    <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
                </intent-filter>
            </service>

            <meta-data android:name="NotificationChannelId" android:value="$CHANNELID"/>
            <meta-data android:name="com.alibaba.app.appkey" android:value="$ALIAPPKEY"/>
            <meta-data android:name="com.alibaba.app.appsecret" android:value="$ALIAPPSECRET"/>
            <meta-data android:name="com.huawei.hms.client.appid" android:value="appid=$HMSAPPID"/>
            <meta-data android:name="XIAOMI_APPID" android:value="$XIAOMIAPPID"/>
            <meta-data android:name="XIAOMI_APPKEY" android:value="$XIAOMIAPPKEY"/>
            <meta-data android:name="OPPO_APPKEY" android:value="$OPPOAPPKEY"/>
            <meta-data android:name="OPPO_SECRET" android:value="$OPPOSECRET"/>
            <meta-data android:name="com.vivo.push.app_id" android:value="$VIVOAPPID"/>
            <meta-data android:name="com.vivo.push.api_key" android:value="$VIVOAPPKEY"/>
            <meta-data android:name="MEIZU_APPID" android:value="$MEIZUAPPID"/>
            <meta-data android:name="MEIZU_APPKEY" android:value="$MEIZUAPPKEY"/>
        </config-file>

        <source-file src="src/android/res/xml/network_security_config.xml" target-dir="res/xml" />
        <source-file src="src/android/PushUtils.java" target-dir="src/com/alipush" />
        <source-file src="src/android/AliyunPush.java" target-dir="src/com/alipush" />
        <source-file src="src/android/PushApplication.java" target-dir="src/com/alipush" />
        <source-file src="src/android/PushMessageReceiver.java" target-dir="src/com/alipush" />
        <source-file src="src/android/PopupPushActivity.java" target-dir="src/com/alipush" />
        <framework src="build-extras.gradle" custom="true" type="gradleReference" />
    </platform>

</plugin>